h1 {
    text-align: center;
    font-size: 80px;
    font-family: arial;
    color: rgb(0,0,0,0.5);
}

p {
    text-align: center;
    color: black;
    border:10px solid yellow;
    background-color: lightsalmon;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}
/* p {
    text-align: center;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    background-color: aqua;
    font-family:Georgia, 'Times New Roman', Times, serif;
} */

body {
    background-color: white;
    background-image: url("indra.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

