a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
    color: red;
}
a:hover {
    text-decoration: underline;
    color:hotpink;
}
a:active {
    text-decoration: underline;
    background-color: yellow;
}

#a1:link, #a1:visited{
    color:white;
    padding: 14px 25px;
    background-color: #f44336;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a1:hover {
    background-color: red;
}

#a1:active {
    opacity: 30%;
}